.container{
    display: grid;
    grid-template-columns: 450px 150px 150px 150px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 75px;
    border-radius: 15px; 
    height: 475px;
    width: 900px;
    border: 2px solid #000;
    margin-left: 25px;
    overflow: hidden;
}


*{
    padding: 0px;
    margin: 0px;

}
.block {
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  
  
}


html{ 
    width: 100%;
    height: 100%;
}


body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.border{
    height: 600px;
    width: 950px;
    background: linear-gradient(135deg, #F95E62 0%, #FDBA84 100%);
    border-radius: 15px;

}

.header{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.heading{
    width:490px ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
   
}

.heading p{
    font-size: 30px;
    color: #ffffff;
}


button{
    width: 90px;
    height: 35px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 700;


}

.plan-tab-basic{

    height: 130px;
    width: 130px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
    background-color: #fb797b;
    border-radius: 20px 20px 0px 0px ;
    color: #ffffff;

}

.plan-tab-standard{
    height: 130px;
    width: 140px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    background-color: #af65fa;
    flex-direction: column;
    border-radius: 20px 20px 0px 0px ;
    font-size: 20px;
    color: #ffffff;
    


}

.plan-tab-premium{
    height: 130px;
    width: 140px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    background-color: #6d8aff;
    flex-direction: column;
    border-radius: 20px 20px 0px 0px ;
    font-size: 20px;
    color: #ffffff;


}


.price{
    font-size: 30px;
    margin-top: 15px;
    color: #ffffff;
}

.basic-button{
    background-color: #fb797b;
}

.standard-button{
    background-color: #af65fa;


}

.premium-button{
    background-color: #6d8aff;
}

.banner{
    height: 40px;
    width: 400px;
    position: absolute;
    top: 10px;
    right : 1800px;
    background-color: #F95E62;
    rotate: -30deg; 
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #ffffff;
    font-weight: 1000;
}
.block.even{
    background-color: #dec1c1;

}