.container{
    display: grid;
    grid-template-columns: 300px 100px 100px 100px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 75px;
    border-radius: 15px; 
    height: 475px;
    width: 600px;
    border: 2px solid #000;
    margin-left: 25px;
    overflow: hidden;
}


*{
    padding: 0px;
    margin: 0px;

}
.block {
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  
  
}


html{ 
    width: 100%;
    height: 100%;
}


body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.border{
    height: 600px;
    width: 650px;
    background: linear-gradient(135deg, #F95E62 0%, #FDBA84 100%);
    border-radius: 15px;

}

.header{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.heading{
    width:350px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
}

.heading p{
    font-size: 20px;
}


button{
    width: 60px;
    height: 35px;
    border-radius: 10px;

}

.plan-tab-basic{

    height: 130px;
    width: 100px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    background-color: aqua;
    border-radius: 20px 20px 0px 0px ;

}

.plan-tab-standard{
    height: 130px;
    width: 100px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px 20px 0px 0px ;


}

.plan-tab-premium{
    height: 130px;
    width: 100px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px 20px 0px 0px ;


}